body{
    background-color: #EAEAEA;
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3em;
    color: #008B72;
}

h2{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2em;
    color: #008B72;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
    color: white;
}

h4{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;
    color: black;
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;
    color: #585858;
}

a{
    text-decoration: none;
    float: left;
}

.button-normal{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;
    color: black;
    background-color: #008B72;
    border-radius: 10px;
    border: solid #008B72;
    width: 140px;
    height: 50px;
}
hr{
    border: 2px solid #008B72;
    opacity: 100%;
}
.icon-color{
    color: black;
}

@media (max-width: 576px){
    nav{
        margin-left: 5%;
        margin-top: 4%;
    }
    #nav-home{
        padding: 1px;
        margin-right: 5px;
    }
    #nav-sobre{
        padding: 1px;
        margin-right: 5px;
    }
    #nav-viagens{
        padding: 1px;
        margin-right: 5px;
    }
    #nav-contato{
        padding: 1px;
    }
    #foto-home{
        display: none;
    }
    #h1-home{
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
    }
    #p-home{
        align-items: center;
        text-align: center;
    }
    #button-home{
        margin-left: 30%;
    }
    #h1-sobre{
        margin-top: 10%;
    }
    #foto-sobre{
        display: none;
    }
    #carouselExampleControls{
        margin-top: 10%;
    }
    #h1-contato{
        align-items: center;
        margin-top: 10%;
    }
    #p1-contato{
        width: 300px;
    }
    #p2-contato{
        width: 300px;
    }
    #p3-contato{
        width: 300px;
    }
    #p4-contato{
        width: 300px;
    }
    #insta{
        padding-right: 25%;
    }
    #face{
        padding-right: 25%;
    }
    #twitter{
        padding-right: 25%;
    }
    #map{
        display: none;
    }
    #copy{
        margin-top: 10%;
    }
}

@media (max-width: 768px){
    nav{
        margin-top: 3%;
    }
    #nav-home{
        margin-left: 30px;
        margin-right: 30px;
    }
    #nav-sobre{
        margin-right: 30px;
    }
    #nav-viagens{
        margin-right: 30px;
    }
    #foto-home{
        display: none;
    }
    #h1-home{
        text-align: center;
        margin-top: 10%;
    }
    #p-home{
        text-align: center;
        margin-top: 5%;
    }
    #button-home{
        margin-top: 5%;
        margin-left: 35%;
    }
    #h1-sobre{
        margin-top: 10%;

    }
    #foto-sobre{
        margin-top: 10%;
    }
    #p1-sobre{
        margin-top: 5%;
    }
    #carouselExampleControls{
        margin-top: 10%;
    }
    #h1-contato{
        margin-top: 10%;
    }
    #insta{
        padding: 5px;
    }
    #face{
        padding: 5px;
    }
    #twitter{
        padding: 5px;
    }
    #map{
        margin-top: 5%;
    }
    #copy{
        margin-top: 5%;
        text-align: center;
    }
}

@media (min-width: 769px){
    h2{
        margin-top: 50px;
    }
    h4{
        margin-top: 59px;
        padding-left: 80px;
    }
    #nav-home{
        margin-left: 130px;
    }
    #foto-home{
        margin-top: 82px;
    }
    #h1-home{
        margin: 0 auto;
        margin-top: 82px;
        width: 555px;
        text-align: center;
    }
    #p-home{
        margin: 0 auto;
        margin-top: 30px;
        width: 444px;
        text-align: center;
        
    }
    #button-home{
        margin-left: 40%;
        margin-top: 5%;
    }
    #foto-sobre{
        margin-top: 169px;
    }
    #h1-sobre{
        margin-top: 110px;
        text-align: center;
    }
    #p1-sobre{
        margin-top: 105px;
        text-align: center;
    }
    #hr-sobre{
        margin-top: 39px;
        text-align: center;
    }
    #p2-sobre{
        margin-top: 39px;
        text-align: center;
    }
    #carouselExampleControls{
        margin-top: 100px;
    }
    #h1-contato{
        margin-top: 50px;
    }
    #p1-contato{
        margin-left: 92px;
        margin-top: 100px;
    }
    #p2-contato{
        margin-left: 92px;
        margin-top: 50px;
    }
    #p3-contato{
        margin-left: 92px;
        margin-top: 50px;
    }
    #p4-contato{
        margin-left: 92px;
        margin-top: 50px;
    }
    #insta{
        margin-left: 92px;
        margin-top: 50px;
    }
    #face{
        margin-left: 25px;
        margin-top: 50px;
    }
    #twitter{
        margin-left: 25px;
        margin-top: 50px;
    }
    #map{
        margin-top: 100px;
    }
    #copy{
        margin-top: 92px;
        text-align: center;
    }
}